<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
 <style>
     * {
         text-align: center;
     }
     .top {
         border: 1px solid grey;
         display: inline-block;
         padding: 10px;
     }
     .bottom {
         border: 1px solid grey;
         display: inline-block;
         font-size: 24px;
         padding: 10px;
     }
 </style>
  <body>
          <p class="top">
              The current date and time:
          </p><br>
          <p class="bottom">
              {{ time }}
          </p>
      </div>
  </body>
</html>
